*~
.classpath
.project
.settings/
.idea/
atlassian-ide-plugin.xml
*.mine
target
*.iml
*.ipr
*.iws
*.rpm
.DS_Store
*.class
samples/
*.pyc
*.hgrm
*.zip
dependency-reduced-pom.xml
pom.xml.b
.gnupg/S*
.gnupg/.gpg-v21-migrated
.gnupg/trustdb.gpg
.gnupg/private-keys-v1.d